@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Parisienne&family=Permanent+Marker&display=swap');

/*https://coolors.co/palette/ea698b-d55d92-c05299-ac46a1-973aa8-822faf-6d23b6-6411ad-571089-47126b*/
:root{
  --main-bg-color: rgb(42, 3, 68, 0.97);
  --main-font-title-color:  rgb(134, 64, 196);
  --main-font-text-color: rgb(234, 105, 139);
  --main-font-bar-color: rgb(200, 30, 210);
}

*{
  margin: 0.2%;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;    
}

a{
  text-decoration: none;
  display: inline-block;
}

body {
  max-width: 100%;
  background-color:var(--main-bg-color);
  background-blend-mode: luminosity;
}

.navbar {
  border-radius: 0;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar a {
  color: var(--main-font-bar-color);
}

.navbar a:hover {
  color: #ffffff;
  background-color: var(--main-font-title-color);
  border-radius: 100%;  
}
.navbar a:active {
  color: aqua;
}

li{
  list-style-type: none;
}

.Links{
  font-family: 'Parisienne', cursive;
  font-size: 2em;
} 

.titulo{
  display: flex;
  color: var(--main-font-title-color);
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5em;
  justify-content: center;
}
.texto {
  color: var(--main-font-text-color);
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
}

section div {
  display: flex;
  justify-content: center;
}

.imagen {
  border-radius: 50%;
  width: 20em;
  height: 20em;
  object-fit: cover;
}

hr {
  padding: 1px 5px 1px 5px;
}

.redes {
  width: 90%;
}

.redes a{
 color: green;
}

.wasap a{
  display: flex;
  align-items: center;
}
.insta a{
  display: flex;
  align-items: center;
}
.feis a{
  display: flex;
  align-items: center;
}
.hate a{
  display: flex;
  align-items: center;
}
.ouluc a{
  display: flex;
  align-items: center;
}
.yimeil a{
  display: flex;
  align-items: center;
}

.media {
width: 10em;
}

.icons {
  width: 2.5em;
}

.footmedia {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediatext {
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  color: var(--main-font-text-color);
}


.etrrlogo {
  width: 30em;
}

.ladantelogo {
  width: 30em;
}

@media (max-width: 680px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .media {
    width: 5em;
  }
  .mediatext {
    width: 1.5em;
  }
}